.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history_list {
  background-color: rgb(241, 237, 232);
  box-shadow: inset 0px 0px 3px 2px var(--main-button-text-color);
  padding: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.item {
  margin: 5px;
}
.item:hover {
  font-weight: 800;
  color: var(--accent-text-color);
  cursor: pointer;
}
