header{
    padding: 20px;
    background-color: var(--accent-bg-color);
}

.navigation{
    display: flex;
    justify-content: center;
}

.pageButton{
    border: none;
    border-radius: 5px;

    background-color: var(--main-button-bg-color);
}